<%@ Master Language="C#" AutoEventWireup="true" CodeFile="index.master.cs" Inherits="_default" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
    <title>Master Title</title>
</head>
<body>
    Master

    <div>
        <asp:ContentPlaceHolder id="ContentPlaceHolderBody" runat="server">
        </asp:ContentPlaceHolder>
    </div>
</body>
</html>
